"*":
  "Remote-FTP":
    connector:
      autoUploadOnSave: "never"
    notifications:
      enableTransfer: true
      enableWatchFileChange: true
  "atom-beautify":
    general:
      _analyticsUserId: "5246c0c3-a2dc-4b16-a60d-15048682f57f"
    js:
      indent_size: 3
  "atom-browser": {}
  "autoclose-html":
    forceInline: [
      "*"
    ]
    makeNeverCloseSelfClosing: false
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
  core:
    allowPendingPaneItems: false
    audioBeep: false
    customFileTypes:
      "source.json": [
        "ftpconfig"
      ]
    ignoredNames: [
      "php-integrator-base"
      "linter"
    ]
    openEmptyEditorOnStart: false
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    uriHandlerRegistration: "always"
  "custom-title":
    template: "<%= fileName %>fdsa<% if (projectName) { %> a-a <%= projectName %>b-b<% } else { %>asdf<% } %>"
  "custom-window-title":
    template: "<% if (projectName) { %><%= projectName %><% } %> - <%= fileName %> - .\\<%= relativeFilePath %>"
  editor:
    autoIndentOnPaste: false
    fontSize: 16
    preferredLineLength: 180
    scrollPastEnd: true
    tabLength: 3
  "exception-reporting":
    userId: "440e2cab-8a62-95d1-86c2-6ee7abef895d"
  "fold-functions": {}
  "git-clone":
    target_directory: "/My Projects/GithubProjects"
  "grammar-token-limit":
    maxTokensPerLine: 500
  "language-babel":
    autoIndentJSX: true
  linter: {}
  "linter-htmlhint": {}
  "linter-php":
    executablePath: "/wamp64/bin/php/php5.6.16/php"
  "linter-ui-default":
    panelHeight: 163
  minimap:
    plugins:
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "one-light-ui":
    tabSizing: "Minimum"
  "php-integrator-autocomplete-plus":
    automaticallyAddUseStatements: false
    disableBuiltinAutocompletion: false
  "php-integrator-base": {}
  "platformio-ide-terminal":
    style:
      theme: "one-dark"
  "project-manager":
    showPath: false
    sortBy: "title"
  "remote-ftp":
    connector:
      autoUploadOnSave: "never"
      sshConfigPath: "~/.ssh/known_hosts"
    notifications:
      enableTransfer: true
    statusbar:
      enable: true
      position: "right"
  tabs:
    addNewTabsAtEnd: true
  "tool-bar":
    iconSize: "16px"
  "tree-view":
    hideVcsIgnoredFiles: false
    showOnRightSide: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".babel.regexp.source":
  editor:
    preferredLineLength: 180
    tabLength: 3
".coffee.jsx.source":
  editor:
    preferredLineLength: 180
    tabLength: 4
".js.jsx.source":
  editor:
    preferredLineLength: 180
    tabLength: 4
".languagebabel.ttlextension":
  editor:
    preferredLineLength: 180
    tabLength: 3
